*
{
    margin: 0;
    padding: 0;

    
}
nav img
{
    width: 200px;
   margin-left: 100px;
   
}
nav
{
display:flex ;
justify-content: space-between;
align-items: center;
width: 80%;
margin: 0 auto;
margin-top: 20px;
}

nav ul
{
display: flex;
list-style-type: none;
justify-content: space-between;
width: 40%;

}
.sign{
    background-color: rgb(30, 12, 12);
    color: aliceblue;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
}
.sign:hover{
    text-decoration: underline;
    color: rgb(210, 75, 25);
    transform:scale(1.1);
}
nav ul li:hover{
    text-decoration: underline;
    color: orangered;
    transform:scale(1.1);
}
.para
{
    font-size: 80px;
   
}
.image
{
   width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.pro
{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 30px;
    margin-left: 5px;
}